<a href="https://colab.research.google.com/github/Sowmya74/Hamoye_Intern/blob/main/DataScience_Stage_B.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Hamoye Stage B**

## **Machine Learning: Regression - Predicting Energy Efficiency of Buildings**

In [19]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from math import sqrt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Ridge, Lasso
from sklearn.metrics import r2_score, mean_squared_error, mean_absolute_error

Loading the Dataset

In [2]:
df = pd.read_csv('energydata_complete.csv')

In [3]:
df.shape

(19735, 29)

In [4]:
df.size

572315

In [5]:
df.head()

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [6]:
df.tail()

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
19730,2016-05-27 17:20:00,100,0,25.566667,46.560000,25.890000,42.025714,27.200000,41.163333,24.7,...,23.2,46.7900,22.733333,755.2,55.666667,3.333333,23.666667,13.333333,43.096812,43.096812
19731,2016-05-27 17:30:00,90,0,25.500000,46.500000,25.754000,42.080000,27.133333,41.223333,24.7,...,23.2,46.7900,22.600000,755.2,56.000000,3.500000,24.500000,13.300000,49.282940,49.282940
19732,2016-05-27 17:40:00,270,10,25.500000,46.596667,25.628571,42.768571,27.050000,41.690000,24.7,...,23.2,46.7900,22.466667,755.2,56.333333,3.666667,25.333333,13.266667,29.199117,29.199117
19733,2016-05-27 17:50:00,420,10,25.500000,46.990000,25.414000,43.036000,26.890000,41.290000,24.7,...,23.2,46.8175,22.333333,755.2,56.666667,3.833333,26.166667,13.233333,6.322784,6.322784
19734,2016-05-27 18:00:00,430,10,25.500000,46.600000,25.264286,42.971429,26.823333,41.156667,24.7,...,23.2,46.8450,22.200000,755.2,57.000000,4.000000,27.000000,13.200000,34.118851,34.118851

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19735 entries, 0 to 19734
Data columns (total 29 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         19735 non-null  object
 1   Appliances   19735 non-null  int64
 2   lights       19735 non-null  int64
 3   T1           19735 non-null  float64
 4   RH_1         19735 non-null  float64
 5   T2           19735 non-null  float64
 6   RH_2         19735 non-null  float64
 7   T3           19735 non-null  float64
 8   RH_3         19735 non-null  float64
 9   T4           19735 non-null  float64
 10  RH_4         19735 non-null  float64
 11  T5           19735 non-null  float64
 12  RH_5         19735 non-null  float64
 13  T6           19735 non-null  float64
 14  RH_6         19735 non-null  float64
 15  T7           19735 non-null  float64
 16  RH_7         19735 non-null  float64
 17  T8           19735 non-null  float64
 18  RH_8         19735 non-null  float64
 19  T9           19735 non-null  float64
 20  RH_9         19735 non-null  float64
 21  T_out        19735 non-null  float64
 22  Press_mm_hg  19735 non-null  float64
 23  RH_out       19735 non-null  float64
 24  Windspeed    19735 non-null  float64
 25  Visibility   19735 non-null  float64
 26  Tdewpoint    19735 non-null  float64
 27  rv1          19735 non-null  float64
 28  rv2          19735 non-null  float64
dtypes: float64(26), int64(2), object(1)
memory usage: 4.4+ MB

In [9]:
df.describe()

,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
count,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,...,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000
mean,97.694958,3.801875,21.686571,40.259739,20.341219,40.420420,22.267611,39.242500,20.855335,39.026904,...,19.485828,41.552401,7.411665,755.522602,79.750418,4.039752,38.330834,3.760707,24.988033,24.988033
std,102.524891,7.935988,1.606066,3.979299,2.192974,4.069813,2.006111,3.254576,2.042884,4.341321,...,2.014712,4.151497,5.317409,7.399441,14.901088,2.451221,11.794719,4.194648,14.496634,14.496634
min,10.000000,0.000000,16.790000,27.023333,16.100000,20.463333,17.200000,28.766667,15.100000,27.660000,...,14.890000,29.166667,-5.000000,729.300000,24.000000,0.000000,1.000000,-6.600000,0.005322,0.005322
25%,50.000000,0.000000,20.760000,37.333333,18.790000,37.900000,20.790000,36.900000,19.530000,35.530000,...,18.000000,38.500000,3.666667,750.933333,70.333333,2.000000,29.000000,0.900000,12.497889,12.497889
50%,60.000000,0.000000,21.600000,39.656667,20.000000,40.500000,22.100000,38.530000,20.666667,38.400000,...,19.390000,40.900000,6.916667,756.100000,83.666667,3.666667,40.000000,3.433333,24.897653,24.897653
75%,100.000000,0.000000,22.600000,43.066667,21.500000,43.260000,23.290000,41.760000,22.100000,42.156667,...,20.600000,44.338095,10.408333,760.933333,91.666667,5.500000,40.000000,6.566667,37.583769,37.583769
max,1080.000000,70.000000,26.260000,63.360000,29.856667,56.026667,29.236000,50.163333,26.200000,51.090000,...,24.500000,53.326667,26.100000,772.300000,100.000000,14.000000,66.000000,15.500000,49.996530,49.996530

In [11]:
df.isnull().sum()

date           0
Appliances     0
lights         0
T1             0
RH_1           0
T2             0
RH_2           0
T3             0
RH_3           0
T4             0
RH_4           0
T5             0
RH_5           0
T6             0
RH_6           0
T7             0
RH_7           0
T8             0
RH_8           0
T9             0
RH_9           0
T_out          0
Press_mm_hg    0
RH_out         0
Windspeed      0
Visibility     0
Tdewpoint      0
rv1            0
rv2            0
dtype: int64

In [12]:
df = df.drop(['date', 'lights'], axis = 1)

In [13]:
X = df.drop('Appliances', axis=1)
Y = df['Appliances']

In [14]:
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size = 0.3, random_state = 42)

In [15]:
print(X_train.shape, X_test.shape)
print(y_train.shape, y_test.shape)

(13814, 26) (5921, 26)
(13814,) (5921,)

17 Q From the dataset, fit a linear model on the relationship between the temperature in the living room in Celsius (x = T2) and the temperature outside the building (y = T6). What is the Root Mean Squared error in three D.P?

In [16]:
x = df[['T2']] #temperature in the living room in Celsius
y = df[['T6']] # temperature outside the building

In [17]:
model = LinearRegression()
model.fit(x, y)

y_pred = model.predict(x)

r_squared = r2_score(y, y_pred)
mse = mean_squared_error(y, y_pred)
rmse = np.sqrt(mse)
print("Root Mean Squared Error :", round(rmse,3))

print("R^2 value is", round(r_squared, 3))

Root Mean Squared Error : 3.644
R^2 value is 0.642

Multiple Linear Regression Model Evaluation

Q 18. Remove the following columns: [“date”, “lights”]. The target variable is “Appliances”. Use a 70-30 train-test set split with a  random state of 42 (for reproducibility). Normalize the dataset using the MinMaxScaler (Hint: Use the MinMaxScaler fit_transform and transform methods on the train and test set respectively). Run a multiple linear regression using the training set. Answer the following questions:

What is the Mean Absolute Error (in three decimal places) for the  training set?

In [24]:
#Normalizing
scaler = MinMaxScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)
#Multiple Linear Regression
model = LinearRegression()
model.fit(X_train_scaled, y_train)

y_train_pred = model.predict(X_train_scaled) #Training SET

mae_train = mean_absolute_error(y_train, y_train_pred)
print("Mean Absolute Error (Training Set)", round(mae_train,3))

Mean Absolute Error (Training Set) 53.742

Q 19 What is the Root Mean Squared Error (in three decimal places) for the training set?

In [25]:
mse_train = mean_squared_error(y_train, y_train_pred)
rmse_train = np.sqrt(mse_train)
print("Root Mean Squared Error (Training Set)", round(rmse_train,3))

Root Mean Squared Error (Training Set) 95.216

Q 20
What is the Mean Absolute Error (in three decimal places) for test set?

In [27]:
y_test_pred = model.predict(X_test_scaled) #Test SET
mae_test = mean_absolute_error(y_test, y_test_pred)
print("Mean Absolute Error (Test Set)",round(mae_test,3))

Mean Absolute Error (Test Set) 53.643

Q 21 What is the Root Mean Squared Error (in three decimal places) for test set?

In [31]:
rmse_test = mean_squared_error(y_test, y_test_pred, squared=False)

print("Root Mean Squared Error (Test Set)", round(rmse_test,3))

Root Mean Squared Error (Test Set) 93.64

Q 22 Did the Model above overfit to the training set ?

In [37]:
rmse_difference = abs(rmse_train - rmse_test)

print("Difference between RMSEs:", rmse_difference)

Difference between RMSEs: 1.5751989121657743
The model likely generalizes well, with a lower RMSE on the test set.

There is not much difference between those two RMSE values and so we can say that model does not overfit to the training set.
A good model have similar RMSE values for both training and test sets.

Q 23 Train a ridge regression model with default parameters. Is there any change to the root mean squared error (RMSE) when evaluated on the test set?

In [32]:
#Ridge Regression
ridge_model = Ridge()
ridge_model.fit(X_train_scaled, y_train)
y_test_pred_ridge = ridge_model.predict(X_test_scaled) #Test SET

rmse_test_ridge = mean_squared_error(y_test, y_test_pred_ridge, squared=False)

print("Root Mean Squared Error (Multiple Linear Regression - Test Set)", round(rmse_test,3))
print("Root Mean Squared Error (Ridge Regression - Test Set)", round(rmse_test_ridge,3))

Root Mean Squared Error (Multiple Linear Regression - Test Set) 93.64
Root Mean Squared Error (Ridge Regression - Test Set) 93.709

Q 24 Train a lasso regression model with default value and obtain the new feature weights with it. How many of the features have non-zero feature weights?

In [34]:
#Lasso Regression model
lasso_model = Lasso()
lasso_model.fit(X_train_scaled, y_train)

feature_weights = lasso_model.coef_

non_zero_features = sum(feature_weights != 0)

print("Number of features with non-zero weights =",non_zero_features)

Number of features with non-zero weights = 4

Q 25
What is the new RMSE with the Lasso Regression on the test set?

In [36]:
y_test_pred_lasso = lasso_model.predict(X_test_scaled) #Test Set
rmse_test_lasso = mean_squared_error(y_test, y_test_pred_lasso, squared=False)

print("Root Mean Squared Error (Lasso Regression - Test Set)",round(rmse_test_lasso,3))

Root Mean Squared Error (Lasso Regression - Test Set) 99.424